*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: #C2DFE3;
    --dark: #253237;
    --blue: #5C80BC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#selettori{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selector{
    width: 200px;
    height: 60px;
    border-radius: 13px;
    border: solid 5px var(--dark);
    background-color: white;
    font-size: 25px;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 115px 38px;
}
#corrente{
    background-color: var(--blue);
    color:white;
}

#clock{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:200px;
}
#clock img{
    position: absolute;
    width:70%;
}
#clock img:nth-child(1){
    width:100%;
}

#orariodigitale{
    position: relative;
    top: 450px;
    display: flex;
    align-items: center;
    color: white;
    font-size:60px;
}
.orario{
    width:70px;
    height: 100px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 8px;
    color: var(--dark);
    font-family: Verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:75px;
}
#casellecronometro{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    font-size:60px;
}
.cronometro{
    width:70px;
    height: 100px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 8px;
    color: var(--dark);
    font-family: Verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:75px;
}
#mediaplayer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}
#mediaplayer div{
    width:70px;
    height: 70px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#mediaplayer div img{
    width:60%;
}


#caselletimer{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    font-size:60px;
}
.timer{
    width:70px;
    height: 100px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 8px;
    color: var(--dark);
    font-family: Verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:75px;
}

#timerpredefiniti{
    display: flex;
    align-items: center;
}
.predefinito{
    width:110px;
    height: 110px;
    background-color: white;
    border-radius: 7px;
    margin: 0px 8px;
    color: var(--dark);
    font-family: Verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:75px;
    cursor: pointer;
}
.predefinito p:nth-child(1){
    font-size:55px;
}
.predefinito p:nth-child(2){
    font-size:17px;
}

#custom{
    width:400px;
    height: 310px;
    background: url("finestracustom.png");
    position: absolute;
    transform: translate(770px, -130px)
    
}