/*@import url('https://fonts.googleapis.com/css?family?Mukta');*/


/*:root {}*/

body {
    margin: 0px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    background: rgb(218, 218, 218);
}

canvas {
    box-shadow: -3px 2px 6px 4px rgb(68, 68, 68);
}

.conteiner {
    display: inline;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.conteiner .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20%;
    border: 2px solid white;
    align-self: 0 15px;
    margin: 0 5px;
}

.conteiner .button {
    align-self: center;
    width: 50;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    color: black;
    background: rgb(218, 218, 218);
    font-weight: bold;
    margin: 0 5px;
    display: inline-block;
    border-radius: 10%;
}

.color-selector {
    align-self: center;
    margin: 0 15px;
    height: 50px;
    margin-top: 15px;
}

.range-selector {
    align-self: center;
    margin: 0 15px;
}

.lavagna {
    border: 2px solid red;
    padding: 5px;
    /*visibility: hidden;*/
    /*display: none;*/
}

.menu {
    border: 2px solid red;
    width: 100%;
    height: 40px;
    padding-left: 1%;
    padding-top: 10px;
    /*height: 400px;*/
}

.menu div {
    cursor: pointer;
    width: 49%;
    float: left;
    text-align: center;
    border: 2px solid black;
    margin: 3px;
}